<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People List</title>
    <link rel="stylesheet" href="index/style.css">
</head>

<body>
    <div class="container">
        <div class="card">
            <h2>Hii, <%= name%>
            </h2>
            <form method="post" action="/Logout">
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
</body>

</html>