<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People List</title>
    <link rel="stylesheet" href="index/style.css">
</head>

<body>
    <div class="container">
        <div class="card">
            <h2>Register</h2>
            <form method="post" action="/register">
                <input type="email" id="Email" name="Email" placeholder="Email" value="<%= locals.Email%>" required>
                <input type="text" id="username" name="username" placeholder="Username" required>
                <p>
                    <%= locals.message%>
                </p>
                <button type="submit">Register</button>
            </form>
            <form method="get" action="/login" style="margin-top: 1rem;">
                <button type="submit">Login</button>
            </form>

        </div>
    </div>
</body>

</html>